hover = #2c3e50
color_grey = #34495e
bg = #bdc3c7
whitish = #ecf0f1

body
	background-color bg
	padding 50px
	font-family: 'Quicksand', sans-serif;
	a
		color color_grey
	a:link
		text-decoration none
	a:hover
		text-decoration none
		color hover
	a:active
		text-decoration none
	a:visited
		text-decoration none
.row
	background-color whitish
ul.pagination
	li.active
		a
			background-color color_grey
			border-color color_grey
		a:hover
			background-color hover
			border-color hover

a.tag
	margin-left 5px
